.box{
    width: 500px;
    height: auto;
    margin: 25px;
    padding: 15px;
    background-color: lavender;
    font-family: cursive;
    font-size: small;
    color: blue;   
    line-height: 1.8em;
    border: 3px solid orange;
    border-radius: 5px;
    box-shadow: 12px 7px 20px #9e2323;
}